@import url("https://fonts.googleapis.com/css2?family=Bayon&family=Roboto:ital,wght@0,300;0,400;0,500;0,700;0,900;1,400&display=swap");

@font-face {
  font-family: helveticaNeue;
  src: url(./assets/Helvetica-Neue-Font/HelveticaNeueCyr-Light.ttf);
}

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #ffffff;
  font-family: "Roboto", sans-serif;
}
body {
  background: #000000;
}

/* START: General styles */
.max-width {
  @apply max-w-[1440px] mx-auto sm:px-8 px-3;
}

.helveticaFM {
  font-family: helveticaNeue, sans-serif !important;
}

.bayonF {
  font-family: "Bayon", sans-serif;
}

.bgGradient {
  background: linear-gradient(360deg, #000000 44%, #1a1a1a 100%);
}

.swiper--blog__wrapper {
  display: flex;
  transition-timing-function: linear !important;
  color: white;
}

.swiper--blog__slide {
  width: 200px;
  height: 100px;
  margin-right: 20px;
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: auto;
}


.swiper--blog__wrapper2 {
  display: flex;
  transition-timing-function: linear !important;
  color: white;
}

.swiper--blog__slide2 {
  width: auto;
  margin-right: 5px;
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: auto;
}
.swiper--blog__wrapper3 {
  display: flex;
  transition-timing-function: linear !important;
  color: white;
}

.swiper--blog__slide3 {
  width: 300px;
  height: 100px;
  margin-right: 20px;
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: auto;
}
