@import url("https://fonts.googleapis.com/css2?family=Bayon&family=Roboto:ital,wght@0,300;0,400;0,500;0,700;0,900;1,400&display=swap");

@font-face {
  font-family: helveticaNeue;
  src: url(./assets/Helvetica-Neue-Font/HelveticaNeueCyr-Light.ttf);
}

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #ffffff;
  font-family: "Roboto", sans-serif;
}
body {
  background: #000000;
}

/* START: General styles */
.max-width {
  @apply max-w-[1440px] mx-auto sm:px-8 px-3;
}

.helveticaFM {
  font-family: helveticaNeue, sans-serif !important;
}

.bayonF {
  font-family: "Bayon", sans-serif;
}

.bgGradient {
  background: linear-gradient(360deg, #000000 44%, #1a1a1a 100%);
}

.swiper--blog__wrapper {
  display: flex;
  transition-timing-function: linear !important;
  color: white;
}

.swiper--blog__slide {
  width: 200px;
  height: 100px;
  margin-right: 20px;
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: auto;
}


.swiper--blog__wrapper2 {
  display: flex;
  transition-timing-function: linear !important;
  color: white;
}

.swiper--blog__slide2 {
  width: auto;
  margin-right: 5px;
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: auto;
}
.swiper--blog__wrapper3 {
  display: flex;
  transition-timing-function: linear !important;
  color: white;
}

.swiper--blog__slide3 {
  width: 300px;
  height: 100px;
  margin-right: 20px;
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: auto;
}

.gradient {
  background-color: transparent;
  background-image: linear-gradient(360deg, #000000 32%, #222222 100%);
}
/* .afterBefore::before {
  content: "A";
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 100px;
  height: 5px;
  color: yellow;
} */
.card {
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}
.shadow {
  box-shadow: 4px 42px 61px -14px rgba(238.98304347826073, 253.29999999999998, 0, 0);
}
.transition {
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s,
    transform var(--e-transform-transition-duration, 0.4s);
}
.anim:hover {
  animation-name: elementor-animation-hang-sink, elementor-animation-hang;
  animation-duration: 0.3s, 1.5s;
  animation-delay: 0s, 0.3s;
  animation-timing-function: ease-out, ease-in-out;
  animation-iteration-count: 1, infinite;
  animation-fill-mode: forwards;
  animation-direction: normal, alternate;
}

@keyframes elementor-animation-hang-sink {
  100% {
    transform: translateY(8px);
  }
}
@keyframes elementor-animation-hang {
  0% {
    transform: translateY(8px);
  }
  50% {
    transform: translateY(4px);
  }
  100% {
    transform: translateY(8px);
  }
}

.image {
  filter: brightness(200%) contrast(111%) saturate(100%) blur(0px)
    hue-rotate(0deg);
  box-shadow: 0px 0px 10px 0px #000000;
  opacity: 1;
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.footerGradient {
  background-color: transparent;
  background-image: radial-gradient(at top center, #000000 39%, #535353 100%);
}

